temp*.ml
*.cache
*.annot
*.cmo
*.cma
*.cmi
*.a
*.o
*.cmx
*.cmxs
*.cmxa
bin/*
Config
*.aux
*.bbl
*.blg
doc/main.dvi
*.log
doc/main.thm
doc/main.toc
.paths
_build
.idea
*.native
temp
SatConfig
.project
*.out
doc/main.pdf
doc/pgsolver.pdf
scripts/policyitervis/metapostgraphs
setup.data
*.byte
*.cache